:root {
    --dark: #111;
    --mid: #888;
    --light: #aaa;

    --bg: #141414;
    --gray: #D9D9D9;
    --yellow: #E4C88B;
    --gold: #C89116;
}

/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--bg);
}

.hidden {
    display: none !important;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
}

/* COMPONENTS */


/* SECTIONS */

/* navbar */
nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 15%;
    background: var(--bg);
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.25);
    z-index: 100;
}

nav #header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav #header img.logo#header-logo {
    width: 3rem;
    height: 3rem;
}

nav #header h1#header-title {
    font-size: 2rem;
    color: var(--yellow);
}


/* hero */

#hero {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: calc(4rem + 7.5rem) 15% 7.5rem;
    justify-content: space-between;
    align-items: center;
}

#hero #hero-title {
    margin-bottom: 2.5rem;
}

#hero #hero-title h1 {
    font-size: 3.25rem;
}

#hero #hero-title h1#hero-title-1 {
    color: white;
}
#hero #hero-title h1#hero-title-2 {
    color: var(--yellow);
}
#hero #hero-title h1#hero-title-3 {
    color: var(--gold);
}

#hero #hero-desc {
    
}

#hero #hero-desc h2 {
    color: var(--gray);
    font-size: 2.25rem;
}

#hero #hero-graphic {

}

#hero #hero-graphic img#hero-img {
    width: 24rem;
    height: 30rem;
}



/* event */
#event {
    
}

#event-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 15%;
    gap: 7.5rem;
}

#event-1 #event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#event-1 #event-info img#map {
    width: 30rem;
}

#event-1 #event-info #map-caption {
    color: var(--gray);
    font-size: 1.25rem;
}

#event-1 #event-about {
    
}

#event-1 #event-about #about-title {
    margin-bottom: 1.5rem;
}

#event-1 #event-about #about-title h2 {
    font-size: 2.5rem;
    color: var(--yellow);
}

#event-1 #event-about #about-title h1 {
    font-size: 3.5rem;
    color: var(--gold);
}

#event-1 #event-about #about-text p, #event-1 #event-about #about-text li {
    font-size: 1.25rem;
    font-weight: 500;
}

#event-1 #event-about #about-text span {
    color: var(--yellow);
}
#event-1 #event-about #about-text span.title {
    color: var(--gold);
}



#event-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 7.5rem 15%;
}

#event-2 h1 {
    font-size: 3rem;
    margin-bottom: 3.5rem;
}
#event-2 h1 span.title {
    color: var(--gold);
}

#event-2 #carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#event-2 #carousel .arrow {
    margin: 0 4rem;
}

#event-2 #carousel #carousel-images {
    display: flex;
    align-items: center;
}

#event-2 #carousel #carousel-images img {
    position: static;
    width: 28rem;
    border-radius: 2rem;
}

#event-2 #carousel #carousel-images img.img-center {

}


#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 5% 0;
}

#input-container #input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    border: 2px solid var(--mid);
    padding: 28px 20px;
    text-align: center;
    cursor: pointer;
    height: 8rem;
    width: 16rem;
}

#input-container #input-box .download {
    width: 33%;
}

#input-container #input-box p {
    color: var(--light);
    padding: 3px 0 0;
    font-size: 20px;
    white-space: nowrap;
}

#input-container #input-box input {
    display: none;
}

#pairings-container {
    padding: 4rem 5%;
    background-color: var(--bg);
}

#pairings-container #pairings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#pairings-container #pairings table {
    width: 30%;
    border: 1px solid var(--light);
    border-collapse: collapse;
}

#pairings-container #pairings table th {
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    font-weight: 400;
    color: white;
}

#pairings-container #pairings table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    color: var(--light);
}