:root {
    --dark: #111;
    --mid: #888;
    --light: #aaa;

    --bg: #141414;
    --gray: #D9D9D9;
    --yellow: #E4C88B;
    --gold: #C89116;
}

/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}

html {
    min-width: fit-content;
    min-height: fit-content;
}

body {
    background-color: var(--bg);
}

.hidden {
    display: none !important;
}

header, h1, h2, h3, h4, h5, h6, p, a, li, th, td {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
}

/* COMPONENTS */


/* SECTIONS */

/* navbar */
nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background: var(--bg);
    opacity: 0.975;
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.25);
    z-index: 100;
}

nav #header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav #header img.logo#header-logo {
    width: 3rem;
    height: 3rem;
}

nav #header #header-title {
    font-size: 2rem;
    font-weight: 650;
    color: var(--yellow);
}

nav #navlinks {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

nav #navlinks .navlink a {
    color: "white";
    font-size: 1.125rem;
    font-weight: 500;
}
nav #navlinks .navlink a:hover {
    color: var(--yellow);
    transition: color 0.5s ease;
}


@media (max-width: 1195px) {
    nav #header #header-title {
        font-size: 1.75rem;
    }

    nav #navlinks .navlink a {
        font-size: 1rem;
    }
}

@media (max-width: 865px) {
    nav {
        justify-content: center;
    }

    nav #navlinks {
        display: none;
    }
}

/* hero */

#hero {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: calc(4rem + 7.5rem) 15% 7.5rem;
    justify-content: space-between;
    align-items: center;
}

#hero #hero-text {
    width: 55%;
}

#hero #hero-text #hero-title {
    margin-bottom: 2.5rem;
}

#hero #hero-text #hero-title h1 {
    font-size: 3.25rem;
}

#hero #hero-text #hero-title h1#hero-title-1 {
    color: white;
}
#hero #hero-text #hero-title h1#hero-title-2 {
    color: var(--yellow);
}
#hero #hero-text #hero-title h1#hero-title-3 {
    color: var(--gold);
}

#hero #hero-text #hero-desc {
    display: block;
    position: relative;
}

#hero #hero-text #hero-desc h3 {
    color: var(--gray);
    font-size: 2.25rem;
}

#hero #hero-text #hero-desc h3 span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    /* animation: shift-words 15s linear infinite 0s; */
    animation: shift-words 12s linear infinite 0s;
}

#hero #hero-text #hero-desc h3 span:nth-child(2) {
    animation-delay: 3s;
}
#hero #hero-text #hero-desc h3 span:nth-child(3) {
    animation-delay: 6s;
}
#hero #hero-text #hero-desc h3 span:nth-child(4) {
    animation-delay: 9s;
}
/* #hero #hero-text #hero-desc h3 span:nth-child(5) {
    animation-delay: 12s;
} */

@keyframes shift-words {
    0% { 
        opacity: 0; 
    }
    5% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    25% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
    }
}

#hero .hero-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#hero .hero-graphic img.hero-img {
    width: 90%;
}

#hero #hero-graphic-left {
    display: none;
}

@media (max-width: 1510px) {
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 2.5rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
}

@media (max-width: 1400px) {
    h1 {
        font-size: 2.75rem !important;
    }
    h2 {
        font-size: 2.25rem !important;
    }
    h3 {
        font-size: 1.75rem !important;
    }
}

@media (max-width: 1295px) {
    h1 {
        font-size: 2.5rem !important;
    }
    h2 {
        font-size: 2rem !important;
    }
    h3 {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 1184px) {
    h1 {
        font-size: 2.25rem !important;
    }
    h2 {
        font-size: 1.75rem !important;
    }
    h3 {
        font-size: 1.25rem !important;
    }
}

@media (max-width: 1075px) {
    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 2rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
}

@media (max-width: 965px) {
    #hero {
        padding: calc(4rem + 5rem) 10% 5rem;
    }
    #hero .hero-graphic {
        width: 25%;
    }
    #hero #hero-graphic-left {
        display: block;
    }

    #hero #hero-text #hero-title {
        margin-bottom: 1.75rem;
    }
    h1 {
        text-align: center !important;
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        text-align: center !important;
        font-size: 1rem !important;
    }
}

@media (max-width: 900px) {
    h1 {
        text-align: center !important;
        font-size: 1.75rem !important;
    }
    h2 {
        font-size: 1.25rem !important;
    }
    h3 {
        text-align: center !important;
        font-size: 1rem !important;
    }
}

@media (max-width: 800px) {
    #hero #hero-text #hero-title {
        margin-bottom: 1.5rem;
    }
    h1 {
        text-align: center !important;
        font-size: 1.5rem !important;
    }
    h2 {
        font-size: 1.25rem !important;
    }
    h3 {
        text-align: center !important;
        font-size: 1rem !important;
    }
}

@media (max-width: 700px) {
    h1 {
        text-align: center !important;
        font-size: 1.25rem !important;
    }
    h2 {
        font-size: 1rem !important;
    }
    h3 {
        text-align: center !important;
        font-size: 0.75rem !important;
    }
}

@media (max-width: 600px) {
    #hero .hero-graphic {
        display: none !important;
    }

    #hero #hero-text {
        width: 100%;
    }

    h1 {
        text-align: center !important;
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        text-align: center !important;
        font-size: 1.25rem !important;
    }
}

@media (max-width: 415px) {
    h1 {
        font-size: 1.75rem !important;
    }
    h2 {
        font-size: 1.25rem !important;
    }
    h3 {
        font-size: 1rem !important;
    }
}


/* event */

#event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 15%;
    /* gap: 7.5rem; */
}

#event #event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 30vw;
    gap: 1.5rem;
}

#event #event-info #map {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#event #event-info #map-caption p {
    color: var(--gray);
    text-align: center;
    font-size: 1.25rem;
}

#event #event-info #map-caption #map-caption-location {
    text-decoration: underline;
}
#event #event-info #map-caption #map-caption-location:hover {
    color: var(--yellow);
    transition: color 0.5s ease;
}

#event #event-about {
    width: 45%;
}

#event #event-about #about-title {
    margin-bottom: 1.5rem;
}

#event #event-about #about-title h2 {
    font-size: 2.5rem;
    color: var(--yellow);
}

#event #event-about #about-title h1 {
    font-size: 3.5rem;
    color: var(--gold);
}

#event #event-about #about-text p, #event-about #about-text li {
    font-size: 1.25rem;
    font-weight: 500;
}

#event #event-about #about-text span {
    color: var(--yellow);
}
#event #event-about #about-text span.title {
    color: var(--gold);
}

@media (max-width: 1410px) {
    #event #event-info #map-caption {
        font-size: 1rem;
    }
}

@media (max-width: 1290px) {
    #event #event-info #map-caption p {
        font-size: 1.125rem;
    }
}

@media (max-width: 1195px) {
    #event #event-info #map-caption p {
        font-size: 0.875rem;
    }
    
    #event #event-about #about-text p, #event-about #about-text li {
        font-size: 1rem;
    }
}

@media (max-width: 965px) {
    #event {
        flex-direction: column-reverse;
        padding: 5rem 10%;
        gap: 5rem;
    }

    #event #event-info {
        width: 75%;
        height: 50vw;
    }
    #event #event-about {
        width: 75%;
    }

    #event #event-about #about-title h1, h2 {
        text-align: center;
    }

    #event #event-info #map-caption p {
        font-size: 1.25rem;
        text-align: center;
    }

    #event #event-about #about-text p, #event-about #about-text li {
        font-size: 1.25rem;
    }
    
}

@media (max-width: 700px) {
    #event {
        gap: 2.5rem;
    }
    
    #event #event-about {
        width: 100%;
    }

    #event #event-info #map-caption p {
        font-size: 1rem;
    }
    #event #event-about #about-text p, #event-about #about-text li {
        font-size: 1rem;
    }
}


/* gallery */

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 7.5rem 15%;
}

#gallery h1 {
    font-size: 3rem;
    margin-bottom: 3.5rem;
}
#gallery h1 span.title {
    color: var(--gold);
}

#gallery #carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#gallery #carousel .arrow {
    margin: 0 5%;
    width: 5%;
}
#gallery #carousel .arrow:hover {
    cursor: pointer;
    filter: invert(49%) sepia(99%) saturate(401%) hue-rotate(4deg) brightness(99%) contrast(89%);
    transform: scale(1.1);
    transition: 0.3s ease;
}

#gallery #carousel #carousel-images {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 5 / 3;
}

#gallery #carousel #carousel-images img {
    position: absolute;
    width: 80%;
    height: 100%;
    border-radius: 2rem;
    opacity: 1;
    transition: 
        transform 0.5s ease,
        top 0.5s ease,
        left 0.5s ease;
}
#gallery #carousel #carousel-images img.hidden {
    opacity: 0;
    transition: 0.5s ease;
}

#gallery #carousel #carousel-images img.img-center {
    top: 0;
    left: 10%;
    /* left: -14rem; */
    z-index: 3;
}
#gallery #carousel #carousel-images img.img-mid-left {
    top: 0;
    left: -2.5%;
    /* left: -19rem; */
    transform: scale(0.85);
    z-index: 2;
    opacity: 0.9;
}
#gallery #carousel #carousel-images img.img-mid-right {
    top: 0;
    left: 22.5%;
    /* left: -9rem; */
    transform: scale(0.85);
    z-index: 2;
    opacity: 0.9;
}
#gallery #carousel #carousel-images img.img-left {
    top: 0;
    left: -15%;
    /* left: -24rem; */
    transform: scale(0.65);
    z-index: 1;
    opacity: 0.8;
}
#gallery #carousel #carousel-images img.img-right {
    top: 0;
    left: 35%;
    /* left: -4rem; */
    transform: scale(0.65);
    z-index: 1;
    opacity: 0.8;
}

@media (max-width: 965px) {
    #gallery {
        padding: 7.5rem 10%;
    }
}


/* FAQ */

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem 15%;
}

#faq #faq-title {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--gold);
}

#faq #faq-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 10%;
}

#faq #faq-container .faq-col {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 3rem;
}

#faq #faq-container .faq-col .faq-accordion {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

#faq #faq-container .faq-col .faq-accordion .faq-symbol {
    width: 0.88rem;
    cursor: pointer;
    transition: transform 0.25s ease;
}
#faq #faq-container .faq-col .faq-accordion.open .faq-symbol {
    transform: rotate(45deg);
    transition: transform 0.25s ease;
}

#faq #faq-container .faq-col .faq-accordion .faq-question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-title {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

#faq #faq-container .faq-col .faq-accordion.hover .faq-symbol, #faq #faq-container .faq-col .faq-accordion.hover .faq-question .faq-question-title {
    filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(246%) hue-rotate(3deg) brightness(102%) contrast(98%);
}

#faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer {
    font-size: 1rem;
    color: var(--gray);
    overflow: hidden;
    transition: max-height 0.5s ease;
}
#faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer a {
    color: var(--gray);
    text-decoration: underline;
}
#faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer a:hover {
    color: var(--yellow);
}

#faq #faq-container .faq-col .faq-accordion.closed .faq-question .faq-question-answer {
    max-height: 0;
    transition: max-height 0.5s ease;
}

@media (max-width: 1376px) {
    #faq #faq-container .faq-col .faq-accordion .faq-symbol {
        width: 0.8rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-title {
        font-size: 1rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer {
        font-size: 0.9rem;
    }
}

@media (max-width: 1184px) {
    #faq #faq-container .faq-col .faq-accordion .faq-symbol {
        width: 0.72rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-title {
        font-size: 0.9rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    #faq #faq-container {
        flex-direction: column;
        align-items: center;
    }

    #faq #faq-container .faq-col {
        width: 100%;
    }

    #faq #faq-container .faq-col#faq-left {
        margin-bottom: 3rem;
    }

    #faq #faq-container .faq-col .faq-accordion .faq-symbol {
        width: 1rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-title {
        font-size: 1.25rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer {
        font-size: 1.125rem;
    }
}

@media (max-width: 700px) {
    #faq #faq-container .faq-col .faq-accordion .faq-symbol {
        width: 0.8rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-title {
        font-size: 1rem;
    }
    #faq #faq-container .faq-col .faq-accordion .faq-question .faq-question-answer {
        font-size: 0.875rem;
    }
}


/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 15% 2rem;
}

footer p, footer a {
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

footer a {
    color: var(--yellow);
}
footer a:hover {
    color: var(--gold);
    transition: 0.5s ease;
}

@media (max-width: 865px) {
    footer {
        padding: 1rem 10% 2rem;
    }

    footer p, footer a {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column !important;
        gap: 0.5rem !important;
    }
}


/* pairings */

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 5% 0;
}

#input-container #input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    border: 2px solid var(--mid);
    padding: 28px 20px;
    text-align: center;
    cursor: pointer;
    height: 8rem;
    width: 16rem;
}

#input-container #input-box .download {
    width: 33%;
}

#input-container #input-box p {
    color: var(--light);
    padding: 3px 0 0;
    font-size: 20px;
    white-space: nowrap;
}

#input-container #input-box input {
    display: none;
}

#pairings-container {
    padding: 4rem 5%;
    background-color: var(--bg);
}

#pairings-container #pairings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#pairings-container #pairings table {
    width: 30%;
    border: 1px solid var(--light);
    border-collapse: collapse;
}

#pairings-container #pairings table th {
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    font-weight: 400;
    color: white;
}

#pairings-container #pairings table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    color: var(--light);
}